.titulo-apresentacao {
  font-family: var(--roboto);
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--laranja-primario);
}

.link-apresencacao {
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--laranja-primario);
  text-decoration: none;
  
}

.detalhes-resumo span {
  font-family: var(--quinksand);
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--neutro-36);
}

.detalhes-autores span {
  font-family: var(--quinksand);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--neutro-36);
}

.detalhes-notas span {
  font-family: var(--quinksand);
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--marrom-claro);
}
