:root {
  
  /* Cores */
  --neutro-20: #333333;
  --neutro-30: #4D4D4D;
  --neutro-31: #4E4E4E;
  --neutro-36: #5C5C5C;
  --neutro-46: #757575;
  --neutro-80: #CCCCCC;
  --neutro-91: #E7E7E7;
  
  --branco: #ffffff;

  --laranja-primario: #ED7839;
  --laranja-secundario: #FDF1EB;

  --marrom-escuro: #725C5C;
  --marrom-claro: #ADA0A0;

  --gradiente: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

  --vermelho-notificacao: #F85959;

  /* Fontes */
  --roboto: 'Roboto', sans-serif;
  --quicksand: 'Quicksand', sans-serif;


}

.bg-primario {
  background-color: var(--laranja-primario);
}

.bg-secundario {
  background-color: var(--laranja-secundario);
}

.btn-primary {
  background-color: var(--laranja-primario);
  border: none;
}

.btn-link {
  color: var(--laranja-primario);
  border: none;
}

.btn-link:hover {
  color: var(--marrom-escuro);
  border: none;
}

.shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12) !important;
}

.titulo-painel {
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(---neutro-31);

  background-color: var(--laranja-secundario);
}
a {
  font-family: var(--quicksand);
  font-weight: 700;
  color: var(--laranja-primario);
  text-decoration: none;
}
a:hover {
  color: var(--marrom-escuro);
}

p {
  font-family: var(--quicksand);
  font-weight: 400;
  color: var(---neutro-36) !important;
}

h1 {
  font-family: var(--roboto);
  font-weight: 700;
}

h2 {
  font-family: var(--roboto);
  font-weight: 700;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .space-mobile {
    margin-top: 3.75rem;
  }
}