.gradiente {
  background: var(--gradiente)
}

.nav-link {
  font-family: var(--quicksand);
  font-weight: 500;
  color: var(--marrom-escuro);
  background-color: #ffffff;
}

.nav-link:hover {
  color: var(--laranja-primario);
}

.active {
  background-color: var(--laranja-secundario);
  position: relative;

}

.active::before {
  content: '';
  height: 100%;
  width: 10px;
  background: var(--gradiente);
  position: absolute;
  left: 0;
  top: 0;
}

.navbar-toggler {
  border: none;
  color: #ffffff;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}